.profile{
  position: relative;
}

.profile-img{
   width: 30px;
   height: 30px;
   border-radius: 50%;
}

.nav-link{
  display: block;
  text-decoration: none;
  padding: 5px;
}

.nav-link:hover{
 color: orangered;
}

.dropdown{
    background-color: rgb(127, 255, 174);
    width: 100px;
    border-radius: 10px;
    position: absolute;
    top:17px;
    left: 27px;
    display: none;
}

.profile:hover .dropdown{
  display: block;
}


/* subdropdown start */
.subdropdown{
 position: relative;
}

.sundropdown-menu{
 background-color: gold;
 border-radius: 10px;
 width: 90px;
 position: absolute;
 left:100px;
 top:10px;
 display: none;

}

.subdropdown:hover .sundropdown-menu {
  display: block;
}


.subdropdown_2{
  position: relative;
}

.sudrowdown_menu_2{
  background-color: rgb(23, 212, 219);
  width: 100px;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  left: 50px;
  display: none;
}
.subdropdown_2:hover .sudrowdown_menu_2{
  display: block;
}

.nestedDropdown{
  position: relative;
}
.nested_dropdownmenu{
    background-color: rgb(213, 219, 23);
  width: 100px;
  border-radius: 10px;
  position: absolute;
  left: 80px;
  top:10px;
  display: none;
}
.nestedDropdown:hover .nested_dropdownmenu{
 display: block;
}