
.hero{
background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
padding: 1.2rem 1.5rem;
}

/* parent element */
.hero-content{
    color: white; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    max-width:1200px ;
}
.hero-text{
    flex: 1 1 500px;
}
.hero-text h1{
    font-size: 40px;
    margin-bottom: 10px;
}
.hero-text p{
    font-size: 18px;
    margin-bottom: 10px;
}
.cta-btn{
    display:inline-block;
    text-decoration: none;
    background-color: orangered;
    color: white;
    font-size: 1.2rem;
    text-transform: capitalize;
    padding: 7px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: all .2s linear;
}
.cta-btn:hover{
    background-color: rgba(0, 225, 255, 0.849);
    box-shadow: 0px 0px 5px rgb(231, 92, 6);
}

.hero-img{
    flex: 1 1 400px;
    text-align: center;
}
.hero-img img{
    width: 100%;
    max-width: 400px;
}

@media screen and (max-width:576px) {
.hero-text{
   order: 2;
}
}

/* do pricing section layout  */
/* assignment link:https://bootstrapmade.com/demo/Devin/ */