.navbar{
  border: 2px solid red;
  display: flex;
  justify-content: space-around;
  height: 100px;
  align-items: center;
  border-radius: 50px;
  position: sticky;
  top:0px;
  background-color: rgb(207, 195, 195);
  z-index: 10;
}
.navbar-brand{
 font-size: 2rem;
 color: orangered;
 text-transform: uppercase;
}
.navbar-nav{
  list-style-type: none; /* removes the dot(disc) symbols */
  display: flex;

}
.navbar-item{
  padding: 2px 7px;
}
.navbar-link{
    text-decoration: none; /* these removes underline for a */
    font-size: 1.5rem;
}
.navbar-link:hover{
  color:orangered
}

.btn{
 display: block;
 width: 150px;
 padding: 5px 10px;
 border: none;
 border-radius: 10px;
 font-size: 1.2rem;
 background-color: orangered;
 color: white;
 outline: 1px solid green;
 box-shadow: 3px 4px 5px rgb(238, 58, 58);
 cursor: pointer;
}