* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* === BODY + FONT === */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  color: #212529;
  line-height: 1.6;
}


/* === NAVBAR LINKS === */
.nav-link {
  color: #212529 !important;
  font-weight: 500;
  transition: all 0.3s ease;
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  color: #28a745 !important;
  transform: translateY(-2px);
  font-weight: 600;
}


/* footer styles */
.footer-social-icons .bi{
  transition: all .5s linear;
}

.footer-social-icons .bi:hover{
  background-color: #28a745;
  color: white;
}


.service-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.service-card {
  transition: all 0.3s ease-in-out;
  background: #fff;
  border: 1px solid #f0f0f0;
  min-height: 250px;
}

.service-card:hover {
  border-color: #198754;
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 0 25px rgba(25, 135, 84, 0.2);
}

.model_btn{
  right:2px;
  bottom:100px;
  z-index: 10;
  transition: all .2s linear;
  animation: glow 2s infinite;
}

.contact-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact{
  background-image: url('./assets/download.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}







@keyframes glow {
  0%{
     box-shadow: 0 0 0 0  rgba(246, 3, 3, 0.637);
  }50%{
     box-shadow: 0 0 0 25px  rgba(58, 102, 40, 0);
  }100%{
    box-shadow: 0 0 0 0  rgba(58, 102, 40, 0);
  }
}