* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* === BODY + FONT === */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  color: #212529;
  line-height: 1.6;
}


/* === NAVBAR LINKS === */
.nav-link {
  color: #212529 !important;
  font-weight: 500;
  transition: all 0.3s ease;
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  color: #28a745 !important;
  transform: translateY(-2px);
  font-weight: 600;
}


/* footer styles */
.footer-social-icons .bi{
  transition: all .5s linear;
}

.footer-social-icons .bi:hover{
  background-color: #28a745;
  color: white;
}


.service-img{
  width: 100px;
  height: 100px;
}
.service-card{
  transition: all .10s linear;
}
.service-card:hover{
  border-bottom: 2px solid black;
  transform: translatey(-5px) rotate(3deg);
  box-shadow:0px 0px 20px rgb(80, 120, 80) !important;
}